@import "./responsiveness.scss";


.layout{
    
    background: rgb(144, 118, 170);
    height: 100vh;  
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    
    @include small{
        background:rgb(235, 178, 178);
    };  
    @include medium {
        background: rgb(178, 198, 235);
    }
    @include large {
        background: rgb(226, 194, 182);
      
    }
    .content{
        flex: 1;

    }

}
