@import "../../styles/responsiveness.scss";
.homepage{
    display: flex;
    height: 100vh;
    .textContainer{
       
        flex:3;
        .wrapper{
            padding: 0px 50px 20px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 100vh;
            

            @include small{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 30px;
                padding-right: 0px;
            }
            @include large{
                padding-right :30px;
            }
         
           .title{
            font-size: 64px;
            @include large{
                font-size: 40px;
            }
            @include medium{
                font-size: 40px;
            }
            @include small{
                font-size: 18px;
            }
           }
           p{
            @include small{
                font-size: 12px;
            }
         
            @include medium{
                font-size: 18px;
            }
            @include large{
                font-size: 18px;
            }
           }
          
          
        }

    }
    .imgContainer{
        flex: 2;
        background-color: #f38262;
        position: relative;
        display: flex;
        align-items: center;
        
        @include medium {
            display: none;
        }
        @include small {
            display: none;
        }
       

      
       
        img{
            width: 110%;
            position: absolute;
            right: 0;
            @include large{
                width: 105%;
               
             
            }
          
            
        }
    
    }
  

   
}